* {
  margin: 0;
  padding: 0;
}

#root {
  width: 420px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#root .item {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(12, 12, 14, 0.2),
    0 0 2px 0 rgba(12, 12, 14, 0.12);
  cursor: pointer;
  user-select: none;
}

#root .item img {
  width: 100%;
}
